<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>weather-Api</title>
</head>
<body>
  <div>
  <input placeholder="City" [(ngModel)]="city">
  
  <button type="reset" (click)="loadweather()">rechercher</button>
</div>
<div>

 <p>Ville: {{show.name}}</p>
 <p>pays: {{show.sys.country}}</p>

 <p>Feels-like: {{show.main.feels_like}}</p>
  <br>
  

</div>
</body>
</html>