<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>weather-Api</title>
</head>
<body>
  <div>
  <input placeholder="City" [(ngModel)]="city">
  
  <button type="reset" (click)="loadweather()">rechercher</button>
</div>
<div *ngIf="ifvisible == true">
<span> <img src="http://openweathermap.org/img/w/{{show?.weather[0].icon}}.png"></span>

 <p>Ville: {{show?.name}}</p>
 <p>pays: {{show?.sys.country}}</p>
 <p>Main: {{show?.weather[0].main}}</p>
 <p>Description: {{show?.weather[0].description}}</p>

  <br>
  

</div>
</body>
</html>